.section {
    height: 100vh;
    overflow: auto;
}

.section_code {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.root {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
}

.view_container {
    position: relative;
}

.view_container_error.state_view {
    display: block;
}

.view_container_error {
    border-radius: 5px;
    display: none;

    padding: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);

    color: var(--color-error-text);
    background: var(--color-error-background);

    z-index: var(--z-index-error);

    background: #ffe0e0;
}

.highlighted {
    background: var(--color-highlighted-background);
    filter: brightness(1.5);
}

.cm-editor {
    height: 100%;
    overflow: auto;
}
