.section {
    height: 100vh;
    overflow: auto;
}

.section_code {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.code {
    flex: 1;
    box-sizing: border-box;
}

.root {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
}

.section_code_form {
    padding: 10px;
    height: 100%;
    position: relative;
}

.sourcecode_input {
    position: static;
    flex: 1;

    height: 100%;
    width: 100%;

    padding: 10px;

    white-space: nowrap;

    background: var(--color-input-background);
    color: var(--color-input-text);

    resize: none;
    border-radius: 5px;
}

.view_container {
    position: relative;
}

.view_container_error.state_view {
    display: block;
}

.view_container_error {
    border-radius: 5px;
    display: none;

    padding: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);

    color: var(--color-error-text);
    background: var(--color-error-background);

    z-index: var(--z-index-error);

    background: #ffe0e0;
}