html {
    --color-input-text: #e4e4f3;
    --color-input-background: #19191e;

    --color-error-text: #673445;
    --color-error-background: #f0dbde;

    --color-highlighted-background: rgba(255, 255, 255, 0.16);

    --z-index-error: 1;
}