html {
    --color-body-text: #312e38;

    --color-error-background: #eddedef2;

    --color-bars-background: #dddde8;

    --color-main-border: #c9c8d9;
    --color-main-background: #f5f5f8;

    --color-highlighted-background: rgba(226, 228, 253, 0.24);

    --z-index-error: 1;

    --size-header-height: 26px;
    --size-footer-height: 20px;

    --size-footer-font: 0.9em;
    --size-header-font: 0.9em;
    --size-header-title-font: 1.2em;
}